body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.container{
 padding-left:10%;
 padding-right:10%;
}

.container-fluid{
	padding-right: 30px;
	padding-left: 30px;
 }

.custom-width {
    width: 80px !important;
}

.form-group{
	margin-top: 15px;
	border: 1px solid #a4a4a4;
	padding: 5px;
	border-radius: 4px;
}

.clearfix {
    overflow: auto;
}

.img-fluid{
	width: 100%;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: auto;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
}

.navbar-default{
	background-color: #dfdfdf;
	border-radius: 4px;
}


